@include('../partials//head.html')
<div class="wrapper">
    <main class="m-height-screen">
        <div class="ad-a-house__step1-frame m-auto pt-5">
            <p class="ad-a-house__text4 text-uppercase">Add photos and description</p>
            <p class="ad-a-house__text1">Confirm your phone number</p>
            <p class="ad-a-house__text5">Then your tenants will be able to contact you during their trip</p>
            <label class="ad-a-house__text5">Phone number</label>
            <div class="form-row align-items-center mt-2">
                <div class="form-group col-6 mb-0">
                    <input class="form-control ad-a-house__input-text" type="text" name="" placeholder="(+84) 0905111222">
                </div>
                <div class="col-4">
                    <a href="" class="m-btn3 m-btn-sent">Sent</a>
                </div>
                <div class="col-2">
                    <a href="" class="ad-a-house__link3">Send Again</a>
                </div>
            </div>
            <p class="ad-a-house__text1 mt-4">Enter Code</p>
            <p class="ad-a-house__text5">Your code was sent to your phone, please enter 4 digits</p>
            <div class="form-row">
                <input class="form-control ad-a-house__input-receive-code col-2 mr-3" type="text" name="" maxlength="1">
                <input class="form-control ad-a-house__input-receive-code col-2 mr-3" type="text" name="" maxlength="1">
                <input class="form-control ad-a-house__input-receive-code col-2 mr-3" type="text" name="" maxlength="1">
                <input class="form-control ad-a-house__input-receive-code col-2" type="text" name="" maxlength="1">
            </div>
            <a href="" class="m-btn2 m-btn-confirm1 btn-block text-center mt-5">Continue</a>
            <a href="" class="btn-block text-center ad-a-house__link1 my-5">Save and exit</a>
        </div>
        <a href=""><img class="ad-a-house__btn-close-on-white-board" src="images/ic-close.svg"></a>
    </main>
</div>
@include('../partials/foot.html')