@include('../partials//head.html')
<div class="wrapper">
    <main class="m-height-screen">
        <div class="ad-a-house__step1-frame m-auto pt-5">
            <p class="ad-a-house__text4 text-uppercase">Fix the cost</p>
            <p class="ad-a-house__text1">Notice of rent</p>
            <p class="ad-a-house__text3">How far in advance should customers be able to book your place?</p>
            <div class="form-row">
                <div class="col-4">
                    <div>
                        <label class="ad-a-house__text3">Time</label>
                        <div class="">
                            <select>
                                <option value="0">10:00</option>
                                <option value="1">11:00</option>
                                <option value="2">12:00</option>
                                <option value="2">13:00</option>
                                <option value="2">14:00</option>
                                <option value="2">15:00</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-8 d-flex align-items-end">
                    <label class="d-flex align-items-center mb-3">
                        <input class="d-none account__item-checkbox" type="checkbox">
                        <div class="account__item-status"></div>
                        <div class="ml-2">
                            <span class="ad-a-house__text3">Allow notifications to show</span>
                        </div>
                    </label>
                </div>
            </div>

            <p class="ad-a-house__text1">Calendar</p>
            <p class="ad-a-house__text3">Click to book a day in the calendar</p>
            <div class="ad-a-house__calendar">
                <div id="addAHouseStep7_Datepicker" data-date=""></div>
                <input type="hidden" id="addAHouseStep7_myHiddenInput">
            </div>
            <a href="" class="m-btn2 m-btn-confirm1 btn-block text-center mt-4">Continue</a>
            <a href="" class="btn-block text-center ad-a-house__link1 my-5">Save and exit</a>
        </div>
        <a href=""><img class="ad-a-house__btn-close-on-white-board" src="images/ic-close.svg"></a>
    </main>
</div>
@include('../partials/foot.html')