@include('../partials//head.html')
<div class="wrapper">
    <main class="m-height-screen d-flex justify-content-center">
        <div class="container mt-4 pt-2">
            <div class="mx-0 mx-sm-3 mx-lg-5 my-5">
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-3 pr-0 position__relative">
                        <div class="booking__line position-absolute">
                        </div>
                        <div class="booking__step booking-actived">
                            <div class="booking__step-item-circle rounded-circle">1</div>
                            <p class="booking__step-item-title">Time booking</p>
                        </div>
                        <div class="booking__step booking-actived">
                            <div class="booking__step-item-circle rounded-circle">2</div>
                            <p class="booking__step-item-title">Confirm phone number</p>
                        </div>
                        <div class="booking__step booking-active">
                            <div class="booking__step-item-circle rounded-circle">3</div>
                            <p class="booking__step-item-title">Confirm email</p>
                        </div>
                        <div class="booking__step">
                            <div class="booking__step-item-circle rounded-circle">4</div>
                            <p class="booking__step-item-title">Payment method</p>
                        </div>
                        <div class="booking__step">
                            <div class="booking__step-item-circle rounded-circle">5</div>
                            <p class="booking__step-item-title" >Review booking</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <p class="booking__text1 text-uppercase">Book a house</p>
                        <p class="booking__text2">E-mail confirmation</p>
                        <p class="booking__text3">We will send you information about your booking and other news</p>
                        <label class="ad-a-house__text3">Your email</label>
                        <div class="form-row align-items-center mt-2">
                            <div class="form-group col-12 col-lg-5 col-xl-6 mb-0">
                                <input class="form-control ad-a-house__input-text" type="text" name="" placeholder="david.tom@gmail.com">
                            </div>
                            <div class="col-12 col-lg-4 col-xl-4">
                                <a href="" class="m-btn3 m-btn-sent mt-2 mt-lg-0 mx-auto mx-lg-0">Sent</a>
                            </div>
                            <div class="col-12 col-lg-3 col-xl-2 pl-lg-4 pl-xl-0 text-center text-lg-left">
                                <a href="" class="ad-a-house__link3">Send Again</a>
                            </div>
                        </div>
                        <p class="booking__text2 mt-5">Check your email</p>
                        <p class="booking__text3">
                            In hac habitasse platea dictumst. Fusce varius sapien vel nisl congue, eu porta velit iaculis. In non porttitor turpis. Cras sit amet fermentum libero. Donec fringilla mattis imperdiet. Aenean sollicitudin hendrerit elit, ut posuere libero sodales vel. Quisque sed congue felis, eget vehicula sem. 
                            <br><br>
                            Aenean eu bibendum felis. Fusce et mollis ex. Sed a consectetur lectus. In commodo augue vitae velit molestie, eget vehicula mi elementum. In id ultricies lectus. Proin nulla ante, dignissim nec purus eu, vehicula molestie tellus. Fusce ac mi in sapien aliquet faucibus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href=""><img class="ad-a-house__btn-close-on-white-board" src="images/ic-close.svg"></a>
    </main>
</div>
@include('../partials/foot.html')