@include('../partials//head.html')
<div class="wrapper">
    <main class="account" style="background:url(images/bg.png) center center / cover">
        <div class="m-mask-blue position-relative">
            <div class="m-height-screen d-flex  justify-content-center">
                <div class="container mt-4 pt-2">
                    <div class="d-flex justify-content-between">
                        <a href=""><img src="images/logo-small.png"alt=""></a>
                        <a href=""><img src="images/close.svg" alt=""></a>
                    </div>
                    <div class="mx-0 mx-sm-3 mx-lg-5 my-5">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 pr-0 position__relative">
                                <div class="account__line position-absolute">
                                </div>
                                <div class="account__step m-done">
                                    <div class="account__step-item-circle rounded-circle">1</div>
                                    <p class="account__step-item-title">Your information</p>
                                </div>
                                <div class="account__step m-done">
                                    <div class="account__step-item-circle rounded-circle">2</div>
                                    <p class="account__step-item-title">Enable notifications</p>
                                </div>
                                <div class="account__step m-done">
                                    <div class="account__step-item-circle rounded-circle">3</div>
                                    <p class="account__step-item-title">Before join</p>
                                </div class="account__step">
                                <div class="account__step m-done">
                                    <div class="account__step-item-circle rounded-circle">4</div>
                                    <p class="account__step-item-title">What are you interested in? </p>
                                </div>
                                <div class="account__step m-active">
                                    <div class="account__step-item-circle rounded-circle">5</div>
                                    <p class="account__step-item-title" >Type of ads</p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6">
                                <p class="account__text-1 mb-1 text-uppercase">Create an account</p>
                                <p class="account__title-2 mt-2 mb-4">What type of ads are you want to submit?</p>
                                <div class="d-flex align-items-center mb-3">
                                    <label class="m-check-radio-blue mr-5">
                                        <input class="m-check-radio-blue__input" type="radio" name="type" required>
                                        <span class="m-check-radio-blue__status"></span>
                                        <span class="m-check-radio-blue__text">Add and ad</span>
                                    </label>
                                    <label class="m-check-radio-blue">
                                        <input class="m-check-radio-blue__input" type="radio" name="type" required>
                                        <span class="m-check-radio-blue__status"></span>
                                        <span class="m-check-radio-blue__text">Add a house</span>
                                    </label>
                                </div>
                                <textarea class="w-100 mb-3" rows="7"></textarea>
                                <p class="account__text-1 mb-1">Rent a house for advertising</p>
                                <p class="account__text-2 mb-4">We will inform you once someone sends</p>
                                <div class="text-center">
                                    <a href="" class="d-block m-btn m-btn-blue my-3">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@include('../partials/foot.html')