@include('../partials//head.html')
<div class="wrapper">
    @include('../partials/header.html')
    <main class="h-100 house">
        <div class="container">
        	<div class="row align-items-center pt-5 pb-4">
        		<div class="col-md-8 col-sm-6">
					<p class="house__title-1 mb-0">Ads</p>
        			<p class="house__text-1 mb-2">Here are all your active ad</p>
				</div>
				<div class="col-md-4 col-sm-6 d-flex justify-content-end">
					<a href="" class="m-btn2 m-btn-confirm1">+ New add</a>
				</div>
			</div>
			<div class="m-bg-1"></div>

			<div class="pt-4 pb-3">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="myAds-tab" data-toggle="tab" href="#myAds" role="tab" aria-controls="myAds" aria-selected="true">My ads</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="desiredAds-tab" data-toggle="tab" href="#desiredAds" role="tab" aria-controls="desiredAds" aria-selected="false">Desired ads</a>
					</li>
				</ul>
				<div class="tab-content mt-4 mb-5" id="myTabContent">
					<div class="tab-pane fade show active" id="myAds" role="tabpanel" aria-labelledby="myAds-tab">
						<div class="row">
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<div>
													<span class="house__text-4">$</span>
													<span class="house__text-5">20</span>
													<span class="house__text-2">per month</span>
												</div>
												<div class="ml-4">
													<span class="house__text-5">6</span>
													<span class="house__text-2">m<sup>2</sup></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="">
												<a href="" class="d-block d-md-none"><img class="w-100" src="images/p1.png" alt=""></a>
												<a href="" class="d-none d-md-block m-h-107 ml-4" style="background:url(images/p1.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<div>
													<span class="house__text-4">$</span>
													<span class="house__text-5">20</span>
													<span class="house__text-2">per month</span>
												</div>
												<div class="ml-4">
													<span class="house__text-5">6</span>
													<span class="house__text-2">m<sup>2</sup></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p2.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p2.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<span class="house__text-6">Not indicated</span>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p3.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p3.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<div>
													<span class="house__text-4">$</span>
													<span class="house__text-5">20</span>
													<span class="house__text-2">per month</span>
												</div>
												<div class="ml-4">
													<span class="house__text-5">6</span>
													<span class="house__text-2">m<sup>2</sup></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p1.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p1.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<div>
													<span class="house__text-4">$</span>
													<span class="house__text-5">20</span>
													<span class="house__text-2">per month</span>
												</div>
												<div class="ml-4">
													<span class="house__text-5">6</span>
													<span class="house__text-2">m<sup>2</sup></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p1.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p1.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<div>
													<span class="house__text-4">$</span>
													<span class="house__text-5">20</span>
													<span class="house__text-2">per month</span>
												</div>
												<div class="ml-4">
													<span class="house__text-5">6</span>
													<span class="house__text-2">m<sup>2</sup></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p2.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p2.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="desiredAds" role="tabpanel" aria-labelledby="desiredAds-tab">
						<div class="row">
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<div>
													<span class="house__text-4">$</span>
													<span class="house__text-5">20</span>
													<span class="house__text-2">per month</span>
												</div>
												<div class="ml-4">
													<span class="house__text-5">6</span>
													<span class="house__text-2">m<sup>2</sup></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p1.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p1.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<div>
													<span class="house__text-4">$</span>
													<span class="house__text-5">20</span>
													<span class="house__text-2">per month</span>
												</div>
												<div class="ml-4">
													<span class="house__text-5">6</span>
													<span class="house__text-2">m<sup>2</sup></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p2.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p2.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<span class="house__text-6">Not indicated</span>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p3.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p3.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<div>
													<span class="house__text-4">$</span>
													<span class="house__text-5">20</span>
													<span class="house__text-2">per month</span>
												</div>
												<div class="ml-4">
													<span class="house__text-5">6</span>
													<span class="house__text-2">m<sup>2</sup></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p1.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p1.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<div>
													<span class="house__text-4">$</span>
													<span class="house__text-5">20</span>
													<span class="house__text-2">per month</span>
												</div>
												<div class="ml-4">
													<span class="house__text-5">6</span>
													<span class="house__text-2">m<sup>2</sup></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p1.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p1.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="house__wrap mb-4">
									<div class="row">
										<div class="col-md-9 col-lg-6 col-xl-8 pl-md-0 py-2">
											<a href="" class="house__title-2">Under review</a>
											<p class="house__text-1 my-2">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
											<div class="d-flex">
												<div>
													<span class="house__text-4">$</span>
													<span class="house__text-5">20</span>
													<span class="house__text-2">per month</span>
												</div>
												<div class="ml-4">
													<span class="house__text-5">6</span>
													<span class="house__text-2">m<sup>2</sup></span>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-lg-6 col-xl-4 pr-md-0">
											<div class="h-100">
												<a href=""><img class="d-md-none w-100" src="images/p2.png" alt=""></a>
												<a href="" class="d-none d-md-block h-100 ml-4" style="background:url(images/p2.png) center center / cover"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </main>
    @include('../partials/footer.html')
</div>
@include('../partials/foot.html')