html {
	height: 100%;
}
body {
    font-family: Roboto;
    font-weight: 400;
    min-height: 100%;
    position: relative;
}

textarea{
    outline:0 !important;
}
input {
	outline:0 !important;
}

button {
    cursor: pointer;
    transition: all 0.3s;
}

button:focus {
    outline:0;
}
