@include('../partials//head.html')
<div class="wrapper">
    <main class="m-height-screen">
        <div class="ad-a-house__step1-frame m-auto pt-5">
            <p class="ad-a-house__text1">Confirmation of agreement</p>
            <p class="ad-a-house__text3">
                Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttior id sit amet risus. Nam tempus vvel odio vitae aliquam.
                <br><br>
                Etiam iaculis leo et consequat rutrum. Pellentesque convallis lorem nec elementum ornare. Fusce venenatis tellus quis lorem dignissim viverra. Aliquam ac nibh sit amet ipsum vulputate lacinia id non purus. Nulla hendrerit tristique nisi vitae tempus. 
                <br><br>
                Curabitur egestas facilisis nisl, et ultricies ex rhoncus eget. Etiam ornare, purus a pretium euismod, nunc orci efficitur augue, quis gravida dolor orci nec diam. Etiam pretium lorem a dui volutpat convallis. 
                <br><br>
                Mauris pellentesque ligula eget risus rutrum, vel sollicitudin enim cursus. Phasellus et molestie mi, a blandit enim. Integer posuere libero sit amet turpis volutpat dapibus.
            </p>
            <a href="" class="m-btn2 m-btn-confirm1 btn-block text-center mt-5">Continue</a>
            <a href="" class="btn-block text-center ad-a-house__link1 my-5">Save and exit</a>
        </div>
        <a href=""><img class="ad-a-house__btn-close-on-white-board" src="images/ic-close.svg"></a>
    </main>
</div>
@include('../partials/foot.html')