@include('../partials//head.html')
<div class="wrapper">
    @include('../partials/header.html')
    <main class="h-100 house">
        <div class="position-relative">
            <div class="owl-carousel owl-theme detail-house__owl-carousel">
                <div class="item">
                    <div class="preview__frame-cover-no-photo d-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column">
                            <img src="images/ic-no-photo.svg">
                            <label class="preview__text1 text-center mt-2">No photos</label>
                        </div>
                    </div>
                </div>
                <div class="item" style="background:url(images/p12.png) center center / cover;"></div>
                <div class="item" style="background:url(images/p13.png) center center / cover;"></div>
                <div class="item" style="background:url(images/p14.png) center center / cover;"></div>
            </div>
            <label class="btn-heart-2">
                <input class="btn-heart-2__input" type="checkbox" checked>
                <span class="btn-heart-2__status"></span>
            </label>
        </div>
        

        <div class="container mb-100 position-relative">
            <div class="house__avatar-box d-flex justify-content-center align-items-center">
                <div class="d-flex flex-column">
                    <div class="house__avatar-frame rounded-circle d-flex justify-content-center align-items-end" style="background:url(images/img6.png) center center / cover">
                    </div>
                    <p class="house__title-2 text-center mt-4 mb-2">Mark Estrada</p>
                    <label class="house__text-2 text-center">Owner</label>
                </div>
            </div>
            <div class="house__head-reponsive">
                <p class="house__title-4 mt-5">Tokyo-to, Nakano-ku, Kamitakada, 2 Chrome</p>
                <div class="mb-4">
                    <span class="house__text-8">$</span>
                    <span class="house__text-9">20</span>
                    <span class="house__title-2">per month</span>
                </div>
                <a href="" class="m-btn2 px-4 mr-0 mr-sm-3 m-btn-preview">Contact Owner</a>
                <a href="" class="m-btn2 m-btn-confirm1">Book</a>
            </div>
        	<div class="mt-5">
                <p class="house__title-3">Befory you join</p>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <p class="house__text-2">Vestibulum cursus nisi ligula, eu sollicitudin ante iaculis nec. Sed pulvinar elit urna, blandit auctor quam bibendum at. Aliquam nulla nisi, feugiat vitae augue nec, rutrum facilisis ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse molestie nulla quis tempus dapibus. Etiam eget tellus porttitor, hendrerit tortor et, venenatis leo. </p>
                        <a class="house__link" href="">
                            <span>Learn more</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" width="11px" height="9px">
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" data-original="#000000" class="active-path" fill="#2995E1"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <div class="row justify-content-center justify-content-md-start text-center">
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="d-flex justify-content-center">
                                    <div class="house__circle">
                                        <div>
                                            <span class="house__text-9">6</span>
                                            <span class="house__title-2">m<sup>2</sup></span>
                                        </div>
                                    </div>
                                </div>
                                <p>Aliquam nulla</p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="d-flex justify-content-center">
                                    <div class="house__circle">
                                        <div>
                                            <span class="house__text-9">6</span>
                                            <span class="house__title-2">m<sup>2</sup></span>
                                        </div>
                                    </div>
                                </div>
                                <p>Aliquam nulla</p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="d-flex justify-content-center">
                                    <div class="house__circle">
                                        <div>
                                            <span class="house__text-9">6222222</span>
                                            <span class="house__title-2">m<sup>2</sup></span>
                                        </div>
                                    </div>
                                </div>
                                <p>Aliquam nulla</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="m-line-light-grey mt-5 mb-4"></span>
            <div class="house__map mx-auto">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.6630024081614!2d108.22190541533423!3d16.031049044717015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219efc3e3a283%3A0x92327dfe9c1e707e!2zVOG6p25nIDQsU-G7kSAyNSDEkMaw4budbmcgMiBUaMOhbmcgOSxI4bqjaSBDaMOidSzEkMOgIE7hurVuZywgMjUgMiBUaMOhbmcgOSwgSOG6o2kgQ2jDonUgRGlzdHJpY3QsIEjhuqNpIENow6J1LCBEYSBOYW5nIDU1MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2sus!4v1525935789378"frameborder="0" class="w-100 h-100" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="mt-3">
                <span class="house__title-2">Location:</span>
                <span class="house__text-2">Tokyo-to, Nakano-ku, Kamitakada, 2 Chrome</span>
            </div>
            <span class="m-line-light-grey my-4"></span>
            <p class="house__title-4 mb-1">See also</p>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="house__item my-2">
                        <a href="" class="house__title-2">
                            <img src="images/p5.png" alt="">
                            <p class="mt-2 mb-0">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
                        </a>
                        <label class="btn-heart">
                            <input class="btn-heart__input" type="checkbox">
                            <span class="btn-heart__status"></span>
                        </label>
                        <div class="d-flex">
                            <div>
                                <span class="house__text-4">$</span>
                                <span class="house__text-5">20</span>
                                <span class="house__text-2">per month</span>
                            </div>
                            <div class="ml-4">
                                <span class="house__text-5">6</span>
                                <span class="house__text-2">m<sup>2</sup></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="house__item my-2">
                        <a href="" class="house__title-2">
                            <img src="images/p6.png" alt="">
                            <p class="mt-2 mb-0">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
                        </a>
                        <label class="btn-heart">
                            <input class="btn-heart__input" type="checkbox">
                            <span class="btn-heart__status"></span>
                        </label>
                        <div class="d-flex">
                            <div>
                                <span class="house__text-4">$</span>
                                <span class="house__text-5">20</span>
                                <span class="house__text-2">per month</span>
                            </div>
                            <div class="ml-4">
                                <span class="house__text-5">6</span>
                                <span class="house__text-2">m<sup>2</sup></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="house__item my-2">
                        <a href="" class="house__title-2">
                            <img src="images/p7.png" alt="">
                            <p class="mt-2 mb-0">Tokyo-to, Nakano-ku, Kamit Ahasha Kurrin</p>
                        </a>
                        <label class="btn-heart">
                            <input class="btn-heart__input" type="checkbox">
                            <span class="btn-heart__status"></span>
                        </label>
                        <div class="d-flex">
                            <div>
                                <span class="house__text-4">$</span>
                                <span class="house__text-5">20</span>
                                <span class="house__text-2">per month</span>
                            </div>
                            <div class="ml-4">
                                <span class="house__text-5">6</span>
                                <span class="house__text-2">m<sup>2</sup></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    @include('../partials/footer.html')
</div>
@include('../partials/foot.html')