@include('../partials//head.html')
<div class="wrapper">
    <main class="m-height-screen">
        <div class="ad-a-house__step1-frame m-auto pt-5">
            <p class="ad-a-house__text1">Will I receive a full refund if I cancel the deal?</p>
            <p class="ad-a-house__text3">
                Vivamus sed ante tincidunt, aliquet purus sit amet, fringilla sem. Maecenas interdum cursus turpis vitae viverra. Curabitur id elementum est, nec condimentum diam. Integer pulvinar quam nec mauris pharetra laoreet sit amet eget purus. Fusce efficitur maximus tellus, non suscipit arcu condimentum sit amet. Sed posuere mi id rutrum euismod. Quisque aliquet tellus et ultrices iaculis. Curabitur nibh arcu, varius ac orci a, vehicula auctor arcu. Duis condimentum mi sed justo dapibus, vel malesuada elit interdum. Nulla quis congue elit. Phasellus quis ipsum non lectus mollis egestas. Sed porttitor sodales quam nec euismod. Duis at leo ac nibh ullamcorper tincidunt sit amet vitae felis. Vivamus ullamcorper faucibus pulvinar. Aenean lorem quam, fringilla vel erat sit amet, volutpat rhoncus lectus. Integer vestibulum auctor leo eget dignissim.
                <br><br>
                Nam egestas odio lectus, quis malesuada odio tempor ut. Maecenas suscipit feugiat pulvinar. Phasellus consequat magna a ullamcorper aliquet. Suspendisse facilisis est ipsum, ut scelerisque lacus volutpat at. Vestibulum maximus porta risus, ac scelerisque arcu consectetur quis. Donec et ipsum fringilla sem rhoncus pulvinar sit amet id lectus. Quisque malesuada est sed malesuada ultricies. Phasellus eu aliquam libero. Etiam gravida metus elit, id efficitur lectus posuere at. Aenean vehicula turpis dictum dui fermentum fringilla. Donec massa tellus, finibus et nulla sed, malesuada dapibus quam. Donec ut neque nec ipsum auctor congue. Curabitur luctus, diam et blandit sollicitudin, sem velit commodo turpis, eget dignissim urna neque sed lectus. Integer pharetra convallis elementum.
            </p>
            <a href="" class="btn-block text-center ad-a-house__link1 my-5">Cancel</a>
        </div>
        <a href=""><img class="ad-a-house__btn-close-on-white-board" src="images/ic-close.svg"></a>
    </main>
</div>
@include('../partials/foot.html')