@include('../partials//head.html')
<div class="wrapper">
    <main class="account" style="background:url(images/bg.png) center center / cover">
        <div class="m-mask-blue position-relative">
            <div class="m-height-screen d-flex align-items-center">
                <div class="container">
                    <a class="position-absolute m-top-32" href=""><img src="images/logo-small.png" alt=""></a>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <p class="account__title-2 mt-2 mb-4">Check your mail</p>
                            <p class="account__text-1 mb-4">We send you an email to <span>hello@art-lemon.com.</span> .
                                Click on the link in this email to reset your password.</p>
                            <div class="text-center">
                                <a href="" class="d-block m-btn m-btn-blue my-3">OK</a>
                            </div>
                            <div class="mt-150 text-center">
                                <a class="account__link" href="">Back to sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@include('../partials/foot.html')