@include('../partials//head.html')
<div class="wrapper">
    <main class="account" style="background:url(images/bg.png) center center / cover">
        <div class="m-mask-blue position-relative">
            <div class="m-height-screen d-flex align-items-center">
                <div class="container">
                    <a class="position-absolute m-top-32" href=""><img src="images/logo-small.png" alt=""></a>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <p class="account__title-2 mt-2 mb-5">Forgot your password</p>
                            <p class="account__text-2 mb-1">Email</p>
                            <input class="d-block w-100 account__text-3 mb-1" type="text">
                            <div class="m-valid-feedback d-none">
                                Please enter your name
                            </div>
                            <div class="m-invalid-feedback">
                                Please enter your name
                            </div>
                            <div class="text-center">
                                <a href="" class="d-block m-btn m-btn-blue my-3">Login</a>
                            </div>
                            <div class="mt-150 text-center">
                                <a class="account__link" href="">Back to sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@include('../partials/foot.html')