@include('../partials//head.html')
<div class="wrapper">
    @include('../partials/header.html')
    <main class="h-100 house">
        <div class="house__banner d-flex align-items-center justify-content-center" style="background: url(images/p14.png) center center / cover;">
            <div class="house__banner--search">
            	<p class="house__banner--text1 text-center">大人気！オススメ広告！大人気！オススメ広告！</p>
            	<div class="input-group">
					<input type="text" class="form-control" placeholder="">
					<div class="input-group-append">
				    	<button class="btn btn-primary" type="button" id="button-addon2">
				    		<img src="images/ic-search2.svg">
				    	</button>
					</div>
				</div>
            </div>
        </div>
		<!-- Begin Genre -->
        <section class="container mt-4">
        	<div class="row">
		        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3 mb-xl-0">
		        	<a href="" class="d-flex align-items-center house__info--items">
		        		<div class="house__text-1 px-2">
			        		<p class="mb-0">Nulla vitae elit libero</p>
			        	</div>
			        	<img class="ml-auto" src="images/img1.png">
		        	</a>
		        </div>
		        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3 mb-xl-0">
		        	<a href="" class="d-flex align-items-center house__info--items">
		        		<div class="house__text-1 px-2">
			        		<p class="mb-0">Nulla vitae elit libero</p>
			        	</div>
			        	<img class="ml-auto" src="images/img1.png">
		        	</a>
		        </div>
		        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3 mb-xl-0">
		        	<a href="" class="d-flex align-items-center house__info--items">
		        		<div class="house__text-1 px-2">
			        		<p class="mb-0">Nulla vitae elit libero</p>
			        	</div>
			        	<img class="ml-auto" src="images/img1.png">
		        	</a>
		        </div>
		        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3 mb-xl-0">
		        	
		        </div>
		    </div>
		    <p class="mt-4 house__title-3">大人気！オススメ広告！</p>
		    <div class="row">
		    	<div class="col-12 col-md-6 house__info--items2">
		    		<div class="w-100 h-100 d-flex align-items-center justify-content-center" style="background: url(images/img2.png) center center / cover;">
		    			<a href="">オススメ広告</a>
		    		</div>
		    	</div>
		    	<div class="col-6 house__info--items2 d-none d-md-block">
		    		<div class="w-100 h-100 d-flex align-items-center justify-content-center" style="background: url(images/img2.png) center center / cover;">
		    			<a href="">オススメ広告</a>
		    		</div>
		    	</div>
		    </div>
		    <a href="" class="m-btn m-btn-blue d-block text-center mt-4">ピックアップ広告</a>
        </section>
        <!-- End Genre -->

        <section class="container mt-4">
        	<div class="row">
        		<div class="col-12 col-sm-6 col-lg-4 mb-3">
        			<div class="house__search-content">
        				<a href="" class="house__search-content--images">
	        				<img src="images/img3.png">
	        			</a>
	        			<div class="house__search-content--body pt-2">
				            <a href="">タイトル</a>
				            <h6 class="">キャッチコピー</h6>
				            <p class="mb-0">テキストエリア</p>
	        			</div>
	        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
			        		テキスト
			        	</a>
        			</div>
        		</div>
        		<div class="col-12 col-sm-6 col-lg-4 mb-3">
        			<div class="house__search-content">
        				<a href="" class="house__search-content--images">
	        				<img src="images/img3.png">
	        			</a>
	        			<div class="house__search-content--body pt-2">
				            <a href="">駅チカの有名ビル</a>
				            <h6 class="">人通りが多く、目立ちやすい立地！</h6>
				            <p class="mb-0">JR大阪駅中央口すぐ。待ち合わせスポットなので人目の付きやすさも◎</p>
	        			</div>
	        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
			        		テキスト
			        	</a>
        			</div>
        		</div>
        		<div class="col-12 col-sm-6 col-lg-4 mb-3">
        			<div class="house__search-content">
        				<a href="" class="house__search-content--images">
	        				<img src="images/img3.png">
	        			</a>
	        			<div class="house__search-content--body pt-2">
				            <a href="">タイトル</a>
				            <h6 class="">キャッチコピー</h6>
				            <p class="mb-0">テキストエリア</p>
	        			</div>
	        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
			        		テキスト
			        	</a>
        			</div>
        		</div>
        	</div>
        	<!-- *** -->
			<p class="mt-4 house__title-3">あなたの周辺エリア</p>
        	<div class="row mt-4">
        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
        			<div class="house__search-content">
        				<a href="" class="house__search-content--images">
	        				<img src="images/img3.png">
	        			</a>
	        			<div class="house__search-content--body pt-2">
				            <a href="">タイトル</a>
				            <h6 class="">キャッチコピー</h6>
				            <p class="mb-0">テキストエリア</p>
	        			</div>
	        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
			        		テキスト
			        	</a>
        			</div>
        		</div>
        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
        			<div class="house__search-content">
        				<a href="" class="house__search-content--images">
	        				<img src="images/img3.png">
	        			</a>
	        			<div class="house__search-content--body pt-2">
				            <a href="">駅チカの有名ビル</a>
				            <h6 class="">人通りが多く、目立ちやすい立地！</h6>
				            <p class="mb-0">JR大阪駅中央口すぐ。待ち合わせスポットなので人目の付きやすさも◎</p>
	        			</div>
	        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
			        		テキスト
			        	</a>
        			</div>
        		</div>
        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
        			<div class="house__search-content">
        				<a href="" class="house__search-content--images">
	        				<img src="images/img3.png">
	        			</a>
	        			<div class="house__search-content--body pt-2">
				            <a href="">タイトル</a>
				            <h6 class="">キャッチコピー</h6>
				            <p class="mb-0">テキストエリア</p>
	        			</div>
	        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
			        		テキスト
			        	</a>
        			</div>
        		</div>
        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
        			<div class="house__search-content">
        				<a href="" class="house__search-content--images">
	        				<img src="images/img3.png">
	        			</a>
	        			<div class="house__search-content--body pt-2">
				            <a href="">タイトル</a>
				            <h6 class="">キャッチコピー</h6>
				            <p class="mb-0">テキストエリア</p>
	        			</div>
	        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
			        		テキスト
			        	</a>
        			</div>
        		</div>
        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
        			<div class="house__search-content">
        				<a href="" class="house__search-content--images">
	        				<img src="images/img3.png">
	        			</a>
	        			<div class="house__search-content--body pt-2">
				            <a href="">駅チカの有名ビル</a>
				            <h6 class="">人通りが多く、目立ちやすい立地！</h6>
				            <p class="mb-0">JR大阪駅中央口すぐ。待ち合わせスポットなので人目の付きやすさも◎</p>
	        			</div>
	        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
			        		テキスト
			        	</a>
        			</div>
        		</div>
        	</div>
        	<!-- *** -->
			<div class="position-relative">
				<div class="house__search-sidebar" id="searchFunction">
					<label class="m-check-radio-blue mb-3">
						<input class="m-check-radio-blue__input" type="radio" name="type" required>
						<span class="m-check-radio-blue__status"></span>
						<span class="house__text-1">Search for a house</span>
					</label>
					<label class="m-check-radio-blue">
						<input class="m-check-radio-blue__input" type="radio" name="type" required>
						<span class="m-check-radio-blue__status"></span>
						<span class="house__text-1">Search for an ad</span>
					</label>
					<div class="m-bg-1 my-4"></div>
					<p class="house__text-7 mb-0">Price range</p>
					<div class="d-sm-flex">
						<div class="w-100 mt-2 mb-4 m-no-ui-slider-pick-price">
							<div class="d-flex justify-content-between align-items-center mb-3">
								<div class="">
									<span class="house__money-price">$</span>
									<input class="text-center house__input-price" type="text" id="noUiSliderPickPriceInput1" readonly>
								</div>
								<div class="">
									<span class="house__money-price">$</span>
									<input class="text-center house__input-price" type="text" id="noUiSliderPickPriceInput2" readonly>
								</div>
							</div>
							<div id="noUiSliderPickPrice" class="w-100 mb-3"></div>
						</div>
					</div>

					<p class="house__text-7 mb-3">Region</p>
					<div class="mb-4">
						<select required>
							<option value="" disabled selected>--Choose region--</option>
							<option value="1">Viet Nam</option>
							<option value="2">Nhat Ban</option>
						</select>
					</div>

					<div class="d-flex justify-content-between mt-3 mb-3">
						<p class="house__text-7">Board size (m<sup>2</sup>)</p>
						<div class="d-flex house__btn">
							<div class="house__btn-sub">
								<img src="images/ic-sub.svg" alt="">
							</div>
							<input type="text" value="0" class="house__btn-result">
							<div class="house__btn-add">
								<img src="images/ic-add.svg" alt="">
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-between mb-3">
						<p class="house__text-7">Gender</p>
						<label class="m-check-box-blue mb-3">
							<input id="managePasswordCheck" class="m-check-box-blue__input" type="checkbox" name="gender">
							<span class="m-check-box-blue__status"></span>
						</label>
					</div>
					<div class="d-flex justify-content-between">
						<p class="house__text-7">Term</p>
						<label class="m-check-box-blue mb-3">
							<input id="managePasswordCheck" class="m-check-box-blue__input" type="checkbox" name="term">
							<span class="m-check-box-blue__status"></span>
						</label>
					</div>
					<div class="m-bg-1 mt-2 mb-4"></div>
					<p class="house__text-7">Sort by</p>
					<label class="m-check-radio-blue mb-3">
						<input class="m-check-radio-blue__input" type="radio" name="sort" required>
						<span class="m-check-radio-blue__status"></span>
						<span class="house__text-1">Pending</span>
					</label>
					<label class="m-check-radio-blue mb-3">
						<input class="m-check-radio-blue__input" type="radio" name="sort" required>
						<span class="m-check-radio-blue__status"></span>
						<span class="house__text-1">Price</span>
					</label>
					<label class="m-check-radio-blue mb-3">
						<input class="m-check-radio-blue__input" type="radio" name="sort" required>
						<span class="m-check-radio-blue__status"></span>
						<span class="house__text-1">Place (near by > far from)</span>
					</label>
					<label class="m-check-radio-blue mb-3">
						<input class="m-check-radio-blue__input" type="radio" name="sort" required>
						<span class="m-check-radio-blue__status"></span>
						<span class="house__text-1">Place (far from > near by)</span>
					</label>
					<a href="#" class="m-btn m-btn-blue d-block w-100 text-center">詳細を見る</a>
				</div>

				<a class="d-flex align-items-center" id="searchFunctionBtn">
	        		<img class="" src="images/home-search-img.jpg">
	        	</a>
	        	<div class="row my-4">
	        		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">タイトル</a>
					            <h6 class="">キャッチコピー</h6>
					            <p class="mb-0">テキストエリア</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">駅チカの有名ビル</a>
					            <h6 class="">人通りが多く、目立ちやすい立地！</h6>
					            <p class="mb-0">JR大阪駅中央口すぐ。待ち合わせスポットなので人目の付きやすさも◎</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">タイトル</a>
					            <h6 class="">キャッチコピー</h6>
					            <p class="mb-0">テキストエリア</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">タイトル</a>
					            <h6 class="">キャッチコピー</h6>
					            <p class="mb-0">テキストエリア</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        	</div>
	        	<a href="#" class="">すべてを見る（102+）＞</a>
	        	<!-- *** -->
	        	<p class="mt-4 house__title-3">あなたの周辺エリア</p>
	        	<div class="row mt-4">
	        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">タイトル</a>
					            <h6 class="">キャッチコピー</h6>
					            <p class="mb-0">テキストエリア</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">駅チカの有名ビル</a>
					            <h6 class="">人通りが多く、目立ちやすい立地！</h6>
					            <p class="mb-0">JR大阪駅中央口すぐ。待ち合わせスポットなので人目の付きやすさも◎</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">タイトル</a>
					            <h6 class="">キャッチコピー</h6>
					            <p class="mb-0">テキストエリア</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">タイトル</a>
					            <h6 class="">キャッチコピー</h6>
					            <p class="mb-0">テキストエリア</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">駅チカの有名ビル</a>
					            <h6 class="">人通りが多く、目立ちやすい立地！</h6>
					            <p class="mb-0">JR大阪駅中央口すぐ。待ち合わせスポットなので人目の付きやすさも◎</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        	</div>
	        	<a href="#" class="">すべてを見る（102+）＞</a>
	        	<!-- *** -->
	        	<p class="mt-4 house__title-3">あなたの周辺エリア</p>
	        	<div class="row mt-4">
	        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">タイトル</a>
					            <h6 class="">キャッチコピー</h6>
					            <p class="mb-0">テキストエリア</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">駅チカの有名ビル</a>
					            <h6 class="">人通りが多く、目立ちやすい立地！</h6>
					            <p class="mb-0">JR大阪駅中央口すぐ。待ち合わせスポットなので人目の付きやすさも◎</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">タイトル</a>
					            <h6 class="">キャッチコピー</h6>
					            <p class="mb-0">テキストエリア</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">タイトル</a>
					            <h6 class="">キャッチコピー</h6>
					            <p class="mb-0">テキストエリア</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        		<div class="col-12 col-sm-6 col-md-4 col-xl mb-3">
	        			<div class="house__search-content">
	        				<a href="" class="house__search-content--images">
		        				<img src="images/img3.png">
		        			</a>
		        			<div class="house__search-content--body pt-2">
					            <a href="">駅チカの有名ビル</a>
					            <h6 class="">人通りが多く、目立ちやすい立地！</h6>
					            <p class="mb-0">JR大阪駅中央口すぐ。待ち合わせスポットなので人目の付きやすさも◎</p>
		        			</div>
		        			<a href="" class="m-btn4 m-btn-blue house__search-content--button">
				        		テキスト
				        	</a>
	        			</div>
	        		</div>
	        	</div>
	        	<a href="#" class="">すべてを見る（102+）＞</a>
			</div>
        </section>
    </main>
    @include('../partials/footer.html')
</div>
@include('../partials/foot.html')
<script type="text/javascript">
	$( "#searchFunctionBtn" ).click(function() {
		$( "#searchFunction" ).toggle(100);
	});
</script>