@include('../partials//head.html')
<div class="wrapper">
    <main class="account" style="background:url(images/bg.png) center center / cover">
        <div class="m-mask-blue">
            <div class="m-height-screen d-flex align-items-center justify-content-center">
                <div>
                    <img class="ml-1" src="images/logo.png" alt="">
                    <p class="account__title mt-3">B-app</p>
                </div>
            </div>
        </div>
    </main>
</div>
@include('../partials/foot.html')