@include('../partials//head.html')
<div class="wrapper">
    @include('../partials/header.html')
    <main class="manage-user h-100">
        <div class="container my-4">
            <div class="row">
                <div class="col-lg-4 col-xl-3">
                    @include('../partials/manage-bar.html',{"a1":"", "a2":"m-active", "a3":"", "a4":"", "a5":""})
                </div>
                <div class="col-lg-7 col-xl-6 mt-2 pb-2 bl-gray pl-lg-5">
                    <p class="manage-user__title mb-0">FAQ</p>
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <div>
                                <label class="manage-user__text">Select the section you need</label>
                                <div class="">
                                    <select>
                                        <option value="0">Payment Methods</option>
                                        <option value="1">Payment Methods</option>
                                        <option value="2">Payment Methods</option>
                                        <option value="3">Payment Methods</option>
                                        <option value="4">Payment Methods</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-grey">
                        <p class="manage-user__text">Question</p>
                        <div class="row">
                            <div class="col-md-8">
                                <p class="manage-user__text2">Will I receive a full refund if I cancel the deal?</p>
                            </div>
                            <div class="col-md-4 text-right">
                                <a href="" class="manage-user__link">
                                    <img src="images/ic-view-answer.svg" alt="">
                                    <span>View answer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-grey">
                        <p class="manage-user__text">Question</p>
                        <div class="row">
                            <div class="col-md-8">
                                <p class="manage-user__text2">Will I receive a full refund if I cancel the deal?</p>
                            </div>
                            <div class="col-md-4 text-right">
                                <a href="" class="manage-user__link">
                                    <img src="images/ic-view-answer.svg" alt="">
                                    <span>View answer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-grey">
                        <p class="manage-user__text">Question</p>
                        <div class="row">
                            <div class="col-md-8">
                                <p class="manage-user__text2">Will I receive a full refund if I cancel the deal?</p>
                            </div>
                            <div class="col-md-4 text-right">
                                <a href="" class="manage-user__link">
                                    <img src="images/ic-view-answer.svg" alt="">
                                    <span>View answer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-grey">
                        <p class="manage-user__text">Question</p>
                        <div class="row">
                            <div class="col-md-8">
                                <p class="manage-user__text2">Will I receive a full refund if I cancel the deal?</p>
                            </div>
                            <div class="col-md-4 text-right">
                                <a href="" class="manage-user__link">
                                    <img src="images/ic-view-answer.svg" alt="">
                                    <span>View answer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    @include('../partials/footer.html')
</div>
@include('../partials/foot.html')