@include('../partials//head.html')
<div class="wrapper">
    <main class="m-height-screen">
        <div class="ad-a-house__step1-frame m-auto pt-5">
            <p class="booking__text1 text-uppercase">Monthly Income</p>
            <div class="d-flex mb-3">
                <p class="ad-a-house__text1">Total revenue</p>
                <p class="ad-a-house__text1 ml-auto">$ <span>950</span></p>
            </div>
            <div class="d-flex border-top py-3">
                <p class="ad-a-house__text3 m-0">April</p>
                <b class="ad-a-house__text3 ml-auto">$ <span>53</span></b>
            </div>
            <div class="d-flex border-top py-3">
                <p class="ad-a-house__text3 m-0">March</p>
                <b class="ad-a-house__text3 ml-auto">$ <span>0</span></b>
            </div>
            <div class="d-flex border-top py-3">
                <p class="ad-a-house__text3 m-0">February</p>
                <b class="ad-a-house__text3 ml-auto">$ <span>4</span></b>
            </div>
            <div class="d-flex border-top border-bottom py-3">
                <p class="ad-a-house__text3 m-0">January</p>
                <b class="ad-a-house__text3 ml-auto">$ <span>406</span></b>
            </div>
        </div>
        <a href=""><img class="ad-a-house__btn-close-on-white-board" src="images/ic-close.svg"></a>
    </main>
</div>
@include('../partials/foot.html')