@include('../partials//head.html')
<div class="wrapper">
    <main class="m-height-screen">
        <div class="ad-a-house__step1-frame m-auto pt-5">
            <p class="booking__text1 text-uppercase">Payment history</p>
            <p class="ad-a-house__text1">History</p>
            <p class="ad-a-house__text3 mb-4">Here are all your active ads</p>

            <div class="payment-history__card mb-3">
                <div class="d-flex border-bottom p-3">
                    <p class="ad-a-house__text3 m-0">20.07.2017</p>
                    <p class="ad-a-house__text3 ml-auto mb-0"><b>$20</b> per month</p>
                </div>
                <div class="row p-3">
                    <div class="col-3 col-sm-2">
                        <div class="rounded-circle payment-history__avatar" style="background:url(images/message1.png) center center / cover">
                        </div>
                    </div>
                    <div class="col-6 col-sm-7 pl-0">
                        <p class="ad-a-house__text3 m-0">Jesse Barnett</p>
                        <p class="payment-history__text m-0">20.07.2017 - 13.10.2017</p>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <p class="payment-history__text2 m-0 text-right ml-auto">$950</p>
                    </div>
                </div>
            </div>
            <div class="payment-history__card mb-3">
                <div class="d-flex border-bottom p-3">
                    <p class="ad-a-house__text3 m-0">20.07.2017</p>
                    <p class="ad-a-house__text3 ml-auto mb-0"><b>$20</b> per month</p>
                </div>
                <div class="row p-3">
                    <div class="col-3 col-sm-2">
                        <div class="rounded-circle payment-history__avatar" style="background:url(images/message2.png) center center / cover">
                        </div>
                    </div>
                    <div class="col-6 col-sm-7 pl-0">
                        <p class="ad-a-house__text3 m-0">Jesse Barnett</p>
                        <p class="payment-history__text m-0">20.07.2017 - 13.10.2017</p>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <p class="payment-history__text2 m-0 text-right ml-auto">$950</p>
                    </div>
                </div>
            </div>
            <div class="payment-history__card mb-3">
                <div class="d-flex border-bottom p-3">
                    <p class="ad-a-house__text3 m-0">20.07.2017</p>
                    <p class="ad-a-house__text3 ml-auto mb-0"><b>$20</b> per month</p>
                </div>
                <div class="row p-3">
                    <div class="col-3 col-sm-2">
                        <div class="rounded-circle payment-history__avatar" style="background:url(images/message3.png) center center / cover">
                        </div>
                    </div>
                    <div class="col-6 col-sm-7 pl-0">
                        <p class="ad-a-house__text3 m-0">Jesse Barnett</p>
                        <p class="payment-history__text m-0">20.07.2017 - 13.10.2017</p>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <p class="payment-history__text2 m-0 text-right ml-auto">$950</p>
                    </div>
                </div>
            </div>

        </div>
        <a href=""><img class="ad-a-house__btn-close-on-white-board" src="images/ic-close.svg"></a>
    </main>
</div>
@include('../partials/foot.html')