@include('../partials//head.html')
<div class="wrapper">
    <main class="m-height-screen">
        <div class="ad-a-house__step1-frame m-auto pt-5">
            <img class="mb-4" src="images/ic-successful.png" width="100px" height="100px">
            <p class="ad-a-house__text8">Congratulations! Your ad has been published</p>
            <p class="ad-a-house__text3">
                You will be able to accpect the first customer as soon as you indicate the availability of your home, right after this ad is posted
            </p>
            <a href="" class="ad-a-house__link3">Back to homepage</a>
        </div>
    </main>
</div>
@include('../partials/foot.html')