@include('../partials//head.html')
<div class="wrapper">
    <main class="m-height-screen">
        <div class="ad-a-house__step1-frame m-auto pt-5">
            <img class="mb-4" src="images/logo-x.png" width="86px" height="100px">
            <p class="ad-a-house__text8">Your advertisement is ready to be published</p>
            <p class="ad-a-house__text3">
                You will be able to accpect the first customer as soon as you indicate the availability of your home, right after this ad is posted
            </p>
            <a href="" class="ad-a-house__link3">Make more details</a>
            <a href="publish-congratulation.html" class="m-btn2 m-btn-confirm1 btn-block text-center mt-5">Publish</a>
        </div>
        <a href=""><img class="ad-a-house__btn-close-on-white-board" src="images/ic-close.svg"></a>
    </main>
</div>
@include('../partials/foot.html')