@include('../partials//head.html')
<div class="wrapper">
    <main class="account" style="background:url(images/bg.png) center center / cover">
        <div class="m-mask-blue">
            <div class="m-height-screen d-flex align-items-center justify-content-center">
                <div class="text-center container">
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <img src="images/logo.png" alt="">
                            <p class="account__title mt-2 mb-1">Welcome!</p>
                            <p class="account__text-1 m-0">B-app professional platform for finding/renting advertising space</p>
                            <a href="" class="d-block m-btn m-btn-blue my-3">Login</a>
                            <a href="" class="d-block m-btn m-btn-white">Create an account</a>
                            <div class="mt-150">
                                <a class="account__link" href="">Register with social network</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@include('../partials/foot.html')