<!-- Begin header -->
<header class="d-none d-md-block header py-4" style="background-color: #122D47;">
    <div class="d-flex">
        <div class="ml-5 align-self-center">
            <a href=""><img src="images/header-logo.png" width="97px"></a>
        </div>
        <div class="ml-5 d-flex flex-wrap align-items-center">
            <nav class="d-flex flex-wrap">
                <a class="d-flex align-items-center text-uppercase header-menu__link mr-5" href="">
                    <img class="mr-2 svg" src="images/header-search.svg">
                    Search
                </a>
                <a class="d-flex align-items-center text-uppercase header-menu__link mr-5" href="">
                    <img class="mr-2 svg" src="images/header-message.svg">
                    Message
                </a>
                <a class="d-flex align-items-center text-uppercase header-menu__link" href="">
                    <img class="mr-2 svg" src="images/header-wish.svg">
                    Wish
                </a>
            </nav>
        </div>
        <div class="dropdown ml-auto mr-5 align-self-center">
            <button class="d-flex justify-content-center align-items-center pr-3 pl-3 border-0 header__user-btn" data-toggle="dropdown">
                <img class="rounded-circle header__avata mr-2" src="images/header-avatar.jpg" alt="">
                <span class="ml-2 text-truncate header__user-text1 mr-1">Ophelia Phillips</span>
                <svg class="mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" width="20" height="20">
                    <path fill="#FFFFFF" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"></path>
                </svg>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Personal information</a>
                <div class="mt-1 mb-1 line-ligth-blue"></div>
                <a class="dropdown-item" href="#">FAQ</a>
                <div class="mt-1 mb-1 line-ligth-blue"></div>
                <a class="dropdown-item" href="#">Payment info</a>
                <div class="mt-1 mb-1 line-ligth-blue"></div>
                <a class="dropdown-item" href="#">Stats</a>
                <div class="mt-1 mb-1 line-ligth-blue"></div>
                <a class="dropdown-item" href="#">Log out</a>
            </div>
        </div>
    </div>
</header>
<!-- End header -->
<!-- Begin header mobile -->
<section class="d-md-none header-mobile">
    <div class="d-flex justify-content-between align-items-center w-100 py-1 pr-2 pl-3 bg-white header-mobile__fixed">
        <a class="navbar-brand" href="#">
            <img class="header-mobile__logo" src="images/header-logo.png" alt="">
        </a>
        <button id="callHeaderMobileMenu" class="d-flex justify-content-center align-items-center border-0 bg-white">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve" width="32" height="32">
                <path fill="#3471ad" d="M16.4,9H3.6C3.048,9,3,9.447,3,10c0,0.553,0.048,1,0.6,1h12.8c0.552,0,0.6-0.447,0.6-1S16.952,9,16.4,9z
                                    M16.4,13H3.6C3.048,13,3,13.447,3,14c0,0.553,0.048,1,0.6,1h12.8c0.552,0,0.6-0.447,0.6-1S16.952,13,16.4,13z M3.6,7h12.8
                                   C16.952,7,17,6.553,17,6s-0.048-1-0.6-1H3.6C3.048,5,3,5.447,3,6S3.048,7,3.6,7z"></path>
            </svg>
        </button>
    </div>
    <div id="headerMobileMenu" class="header-mobile-menu px-2">
        <div class="header-mobile-menu__limit-height d-flex justify-content-around">
            <nav class="ml-5 py-4 pb-3 header-mobile-menu__wrap">
                <div class="mb-2">
                    <a class="d-flex align-items-center text-uppercase header-menu__link2 mr-5" href="">
                        <img class="mr-3 svg" src="images/header-search.svg">
                        Search
                    </a>
                </div>
                <div class="mb-2">
                    <a class="d-flex align-items-center text-uppercase header-menu__link2 mr-5" href="">
                        <img class="mr-3 svg" src="images/header-message.svg">
                        Message
                    </a>
                </div>
                <div class="mb-2">
                    <a class="d-flex align-items-center text-uppercase header-menu__link2" href="">
                        <img class="mr-3 svg" src="images/header-wish.svg">
                        Wish
                    </a>
                </div>
            </nav>
            <div class="dropdown mr-5 mt-4">
                <button class="d-flex justify-content-center align-items-center pr-3 pl-3 border-0 header__user-btn" data-toggle="dropdown">
                    <img class="rounded-circle header__avata mr-2" src="images/header-avatar.jpg" alt="">
                    <span class="ml-2 text-truncate header__user-text2 mr-1">Ophelia Phillips</span>
                    <svg class="mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" width="20" height="20">
                        <path fill="#000000" d="M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z"></path>
                    </svg>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Personal information</a>
                    <div class="mt-1 mb-1 line-ligth-blue"></div>
                    <a class="dropdown-item" href="#">FAQ</a>
                    <div class="mt-1 mb-1 line-ligth-blue"></div>
                    <a class="dropdown-item" href="#">Payment info</a>
                    <div class="mt-1 mb-1 line-ligth-blue"></div>
                    <a class="dropdown-item" href="#">Stats</a>
                    <div class="mt-1 mb-1 line-ligth-blue"></div>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End header mobile -->