<!-- Begin manage bar -->
<div class="bg-white manage-bar">
    <ul class="mb-0 pl-0 manage-bar__body">
        <li>
            <a class="d-flex align-items-center manage-bar__link @a1" href="">
                <img class="ic-img" src="images/ic-user.svg" alt="">
                <span class="ml-3 pl-1">Personal Information</span>
            </a>
        </li>
        <li>
            <a class="d-flex align-items-center manage-bar__link @a2" href="">
                <img src="images/ic-faq.svg" alt="">
                <span class="ml-3 pl-1">FAQ</span>
            </a>
        </li>
        <li>
            <a class="d-flex align-items-center manage-bar__link @a3" href="">
                <img src="images/ic-payment.svg" alt="">
                <span class="ml-3 pl-1">Payment info</span>
            </a>
        </li>
        <li>
            <a class="d-flex align-items-center manage-bar__link @a4" href="">
                <img src="images/ic-stats.svg" alt="">
                <span class="ml-3 pl-1">Stats</span>
            </a>
        </li>
        <li>
            <a class="d-flex align-items-center manage-bar__link @a5" href="">
                <img src="images/ic-logout.svg" alt="">
                <span class="ml-3 pl-1">Log out</span>
            </a>
        </li>
    </ul>
</div>
<!-- End manage bar -->